.card {
    margin: 10px;
    padding: 10px;
}

.drink-name {
    margin: 10px;
    padding: 10px;
}

.drink-search {
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    padding: 10px 10px 30px 10px;
}

.recipe-container {
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    padding: 10px 10px 30px 10px;
}

.navbar {
    margin-bottom: 1%;
}

.sub-header {
    display: block;
    color: white;
}

.icon-img {
    margin-left: 25%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    
    background-color: #5876a8 !important;
    border-color: #5876a8;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #344a70 !important;
    border-color: #344a70 ;
}
.slick-prev:before, .slick-next:before {
    color:#344a70;

}
#drink-display, 
#recipe-results {
    margin: 0 25px;
}
